@font-face {
  font-family: "Harmony";
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/JingleCate/BlogImage/fonts/HarmonyOS_Sans_SC_Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Optima";
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/JingleCate/BlogImage/fonts/Optima-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "SimSong";
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/JingleCate/BlogImage/fonts/STSong.ttf")
    format("truetype");
}

@font-face {
  font-family: 'SongTi';
  font-display: swap;
  src: url('/css/fonts/SourceHanSerifSC-VF.ttf.woff2') format('woff2')
}


